__pycache__
.vscode
../venv
.idea
db.sqlite3
book_rental\db.sqlite3
rental/__pycache__*
book_rental/__pycache__/__init__.cpython-312.pyc
book_rental/__pycache__/settings.cpython-312.pyc
book_rental/__pycache__/urls.cpython-312.pyc
book_rental/__pycache__/wsgi.cpython-312.pyc
rental/__pycache__/__init__.cpython-312.pyc
rental/__pycache__/admin.cpython-312.pyc
rental/__pycache__/apps.cpython-312.pyc
rental/__pycache__/forms.cpython-312.pyc
rental/__pycache__/models.cpython-312.pyc
rental/__pycache__/tests.cpython-312.pyc
rental/__pycache__/urls.cpython-312.pyc
rental/__pycache__/views.cpython-312.pyc
rental/migrations/__pycache__/__init__.cpython-312.pyc
